<p>
  <mat-toolbar color="primary" class="nav-bar">
    <span>Doctor Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" matTooltip="view notifications" [matMenuTriggerFor]="notification"
      (click)="notificationBadge > 0 && enableSidebar()" aria-label="Example icon-button with share icon">
      <mat-icon [matBadge]="notificationBadge > 0? notificationBadge : null"
        matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #notification="matMenu">
      <div mat-dialog-content *ngIf="notificationBadge <= 0">
        <div style="padding: 0.5rem; margin-left: 1rem; margin-right: 1rem;">
          <h3 style="margin-bottom: -0.5rem;">Zero appointment requests</h3>
        </div>
      </div>
    </mat-menu>
    <!-- <span *ngIf="(auth.isAuthenticated$ | async) === true"> -->
    <button (click)="logout()" matTooltip="logout" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
    <!-- </span> -->
  </mat-toolbar>
</p>

<br><br><br>
<div class="outer">
  <div class="inner1" *ngIf="totalPatients > 0; else noContent">
    <h1>Hello {{doctorName}}!</h1>
    <h2>Patients for today - {{date | date : 'EEEE'}}</h2>
    <h3 id="total-patients">Total : {{totalPatients}}</h3>
    <br>
    <mat-accordion class="patient-container" multi="false">
      <mat-expansion-panel style="margin-bottom: 0.1rem;" *ngFor="let patient of patientByAppointments"
        class="expansions">
        <mat-expansion-panel-header (click)="hideAll()">
          <mat-panel-title>
            <button #x [value]="patient.patient.fullname" style="display: none;"></button>
            <div [ngSwitch]="patient.patient.gender" class="icon-gap">
              <mat-icon *ngSwitchCase="'male'">male</mat-icon>
              <mat-icon *ngSwitchCase="'Male'">male</mat-icon>
              <mat-icon *ngSwitchCase="'female'">female</mat-icon>
              <mat-icon *ngSwitchCase="'Female'">female</mat-icon>
              <mat-icon *ngSwitchDefault>account_circle</mat-icon>
          </div>
            {{patient.patient.fullname}}
          </mat-panel-title>
          <mat-panel-description>
            Age : {{patient.patient.age}}
          </mat-panel-description>
          <mat-panel-description >
            <mat-icon *ngIf="patient.appointment[0].status == 4" style="color:tomato">thumb_up</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>

        <!-- Patient expansion buttons -->

        <div class="example-button-row">
          <button class="btn-bottom-border" extended mat-button color="accent" matTooltip="View basic health details"
            (click)="toggleBasicDetails()">
            <mat-icon>visibility</mat-icon>Basic details
          </button>
          <button class="btn-bottom-border" extended mat-button color="accent"
            matTooltip="View patient's health history" (click)="navToViewHistory(patient.patient.patId)">
            <mat-icon>visibility</mat-icon>Health history
          </button>
          <button (click)="navToAddRecord(patient.patient.patId)" class="btn-bottom-border" extended mat-button color="warn" matTooltip="Add patient's health record">
            <mat-icon>add</mat-icon>Add record
          </button>
        </div>
        <br>

        <!-- Basic details patient -->

        <mat-card class="class-container" *ngIf="basicDetails">

          <br>
          <h2 style="text-align: center; color: green;"> {{patient.patient.fullname}}'s basic health record</h2>
          <div class="card-container">
            <app-basic-details></app-basic-details>
          </div>
          <br>
          <br>
        </mat-card>

        <!-- Add patient health record -->

        <mat-card class="class-container" *ngIf="healthRecord">

          <br>
          <h2 style="text-align: center; color: green;"> Add {{patient.patient.fullname}}'s health record</h2>
          <div class="card-container">
            <app-add-health></app-add-health>
          </div>
          <br>
          <br>
        </mat-card>

        <!-- Patient's history page -->

        <mat-card class="class-container" *ngIf="history">
          <br>
          <h2 style="text-align: center; color: green;">{{patient.patient.fullname}}'s health history</h2>
          <div class="card-container">
            <!-- <app-patient-complete-history></app-patient-complete-history> -->
          </div>
          <br>
          <mat-card-actions class="btn-close">
            <button mat-stroked-button color="accent" style="border: none; font-size: medium;"
              (click)="history = false"><b>Close history</b></button>
          </mat-card-actions>
          <br>
        </mat-card>

        <!-- ---------------------- -->

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template #noContent>
    <div class="no-patients">
    Hello {{doctorName}} <br>
    Looks like here are no patients for today 
  </div>
  </ng-template>
</div>